<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.form.min.js"></script>
<script type="text/javascript">
	

</script>
</head>
<body>
<div class="main">
    <div class="pos">添加配置项</div>
	<div class="form">
		<form method='post' id="form_do" name="form_do" action="{:U('System/edit')}">
		<dl>
			<dt>名称标识：</dt>
			<dd>
				<input type="text" name="name" class="inp_large" value="{$vo.name}" />（由字母、数字和"_"组成,不能重复）
			</dd>
		</dl>
		<dl>
			<dt>标题：</dt>
			<dd>
				<input type="text" name="title" class="inp_large" value="{$vo.title}" />				
				（用于后台显示的配置标题）
			</dd>
		</dl>

		<dl>
			<dt>分组：</dt>
			<dd>
				<select name="groupid">
					<foreach name='configgroup' item='v'>
					<option value="{$key}"<if condition="$key eq $vo['groupid']">selected="selected"</if>>{$v}</option>
					</foreach>
				</select>
			</dd>
		</dl>
		<dl>
			<dt>类型：</dt>
			<dd>
				<select name="typeid">
					<foreach name='configtype' item='v'>
					<option value="{$key}"<if condition="$key eq $vo['typeid']">selected="selected"</if>>{$v}</option>
					</foreach>
				</select>
			</dd>
		</dl>

		<dl>
			<dt>排序：</dt>
			<dd>
				<input type="text" name="sort" class="inp_small" value="{$vo.sort}" />
			</dd>
		</dl>
		<dl>
			<dt>值：</dt>
			<dd>
				<textarea name="value" class="tarea_default">{$vo.value}</textarea>
			</dd>
		</dl>	

		<dl>
			<dt>提示说明：</dt>
			<dd>
				<textarea name="remark" id="remark" class="tarea_default">{$vo.remark}</textarea>
			</dd>
		</dl>
		
		<dl>
			<dt>表单|可选值：</dt>
			<dd>
				<textarea name="tvalue" id="tvalue" class="tarea_default">{$vo.tvalue}</textarea>
				<br/>注：选填<br/>
				格式为:
				第一行：表单类型(select,radio,checkbox,text,textarea)<br>
				第二行开始(可选值)： 值|值名称
			</dd>
		</dl>
		</div>
		<div class="form_b">					
			<input type="hidden" name="id" value="{$vo.id}" />
			<input type="submit" class="btn_blue" id="submit" value="保存">
			<input type="button" onclick="goUrl('{:U('System/index')}')" class="btn_green" value="取消" />
		</div>
	   </form>
	</div>


</body>
</html>